*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Karla", sans-serif;
  /*font-family: 'Roboto', sans-serif;*/
}

/* =================
   Navbar
================= */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.50);
  height: 125px;
  min-width: 430px;
  background-color: #fff;
}

.logo-all {
  display: flex;
  align-items: center;
  margin: 1.5em 0;
}

.logo-name {
  font-size: 1.5rem;
  color: #2296b6;
}

.menu-items {
  display: flex;
  font-weight: 600;
  margin-bottom: 1em;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

.menu-items li {
  list-style: none;
  font-size: 1.5rem;
  color: #2296b6;
  cursor: pointer;
  letter-spacing: 0.5px;
  position: relative;
  padding: 0 10px;
}

.menu-items li:after {
  content: "";
  position: absolute;
  background-color: #0b5c72;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.menu-items li:hover,
.menu-items li:focus {
  color: rgba(0, 0, 0, 0.75);
}

.menu-items li:hover:after,
.menu-items li:focus:after {
  width: 100%;
}

@media (min-width: 600px) {
  .navbar {
    flex-direction: row;
    max-height: 100px;
    padding: 0 30px;
  }
  .logo-all {
    margin: 0;
  }
  .menu-items {
    margin: 0 2.5em 0;
  }
}

/* =================
   Homepage
================= */
.container-homepage {
  min-width: 430px;
}

.homepage-body {
  margin-bottom: 2em;
}

.img-hero {
  max-height: 50vh;
  width: 100%;
  object-fit: cover;
  margin-bottom: 3em;
}

.title-hero {
  text-align: center;

}

.title-call {
  font-size: 3rem;
  max-width: 75vw;
  padding-bottom: 0.5em;
  margin: 0 auto;
}

.subtitle-call {
  font-size: 1.75rem;
  max-width: 60vw;
  margin: 0 auto;
  padding-bottom: 60px;
  color: rgba(50, 50, 50, 0.5)
}

.container-supreme {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

/* =================
   Projects
================= */
.container-games {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: #2980B9;

}

.img-games-react {
  max-height: 300px;
  width: auto;
  object-fit: cover;
}

.project-title {
  color: #fff;
  padding: 5px;
}

.project-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  color: #fff;
}

.project-details {
  text-align: center;
  padding: 10px;
  color: #38ef7d;
}

.project-link {
  display: flex;
  align-items: center;
  padding: 10px;
}

.project-link:hover,
.project-link:focus {
  color: #000;
  transform: scale(1.25)
}



/* =================
   Memory Game
================= */
.images-container {
  display: grid;
  grid-template: repeat(4, auto) / repeat(4, 150px);
  grid-gap: 10px;
  justify-content: center;
  margin-bottom: 2em;
}
.flag {
  height: auto;
  width: 150px;
  object-fit: cover;
  margin: 5px;
}
/*
.border {
  border: 1px solid black;
  height: auto;
  width: 150px;
}
*/
.title-memory {
  text-align: center;
  padding: 1.5em;
  font-size: 2em;
  color:#0f9b0f;
}

.btn-memory {
  padding: 1em 2.5em;
  border-radius: 5px;
  border: none;
  background: #00F260;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0575E6, #00F260);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0 auto;
  color: #fff;
  font-weight: 700;
  /*background: linear-gradient(45deg, #09009f, #00ff95 80%);*/
}

.container-memory {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.count {
  font-size: 2rem;
  text-align: center;
  margin-right: 1em;
  margin-left: 1em;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 300px;
  background-color: #11998e;
}

.moves-info{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1em;
}

/* =====================
   Media Queries Memory
===================== */

@media (max-width: 700px) {
  .images-container {
    grid-template: repeat(4, auto) / repeat(4, 90px);
}

.flag {
  width: 90px;
}

.moves-info {
  flex-direction: column;
  align-items: center;
}
.count {
  margin-bottom: .5em;
}

}

@media (max-width: 450px) {
  .images-container {
    grid-template-columns: repeat(4, 75px);
  }

  .flag {
    width: 75px;
  }

  .title-memory {
    font-size: 1.5rem;
  }
    .count {
    font-size: 1.5rem;
    }
}

@media (max-width: 400px) {
  .container-memory{
    margin: 0 auto;
    width: 400px;
    justify-content: center;
    align-items: center;
  }
}

/* =================
   Magic Square
================= */
.container-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #34e89e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #0f3443, #34e89e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #0f3443, #34e89e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-width: 430px;
  padding-bottom: 2rem;
}

.main-board {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 10px;
  align-items: center;
  margin-bottom: 2em;
}
.header-magic-square {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.title-magic-square,
h3 {
  color: #fff;
}

.btn-newgame {
  padding: 0.75em 1.15em;
  height: 50px;
  width: 150px;
  border-radius: 15px;
  background: #159957;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #155799, #159957);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #155799, #159957);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1em;
}

.square {
  height: 100px;
  width: 75px;
  background-color: #fff;
  color: black;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 2rem;
}

.btn-container {
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5em;
  
  
}

.number-btn {
  padding: 2em;
  border: none;
  border-radius: 0.5em;
  background:#56CCF2;
  color: #000;
  font-weight: 700;
  font-size: 1.15rem;
}

.rules {
  color: #000;
  font-weight: 700;
  text-align: center;
  font-size: 1.25rem;
}

/* =====================
   Media Queries Magic
===================== */
@media (min-width: 500px) {
  .btn-container {
  grid-template-columns: repeat(8, 1fr);
  }
  .number-btn {
    grid-column: span 2;
  }
  .number-btn:nth-child(9) {
    grid-column: 4 / span 2;
  
  }
}

/*=================
Tenzies
=================*/

.box-container {
  width: 380px;
  height: 480px;
  background-color: #1b9eeb;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.box-container-border {
  width: 420px;
  height: 539px;
  border-radius: 6.4px;
  background-color: #032438;
  padding: 30px 20px 30px 20px;
  margin: 6em auto;
}

.die {
  width: 60px;
  height: 60px;
  background: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 21px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.die-container {
  display: grid;
  grid-template-columns: 60px 60px 60px 60px 60px;
  grid-gap: 12px;
}

.roll-btn, 
.btn-die {
  height: 36px;
  width: 100px;
  border: none;
  border-radius: 6px;
  background-color: #5035ff;
  color: white;
  font-size: 1.2rem;
  font-family: "Karla", sans-serif;
}

.btn-show {
  width: 150px;
}

.rules-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roll-btn:focus {
  outline: none;
}

.roll-btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.tenzies-title {
  font-size: 40px;
  margin: 0;
}

.instructions {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
}

.tries-info {
  display: flex;
  flex-direction: column;
}

.count-tries {
  font-size: 1.25rem;
  text-align: center;
  color: #000;
  border: 2px ridge black;
  border-radius: 5px;
  width: 250px;
  background-color: #fff;
  margin-bottom: .5em;
}

/* =================
   Footer
================= */
footer {
  background-color: rgb(99, 159, 180);
  height: 185px;
  width: 100%;
  color: #000;
  min-width: 430px;

}

.footer {
  font-size: 1.25rem;
  padding-left: 10px;
}

.email-container {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 2s;
  padding-right: 1em;
}

.email-text {
font-size: 1.5rem;
margin-left: -1em;
font-weight: 600;
}

.footer-title{
  padding: 10px;
  font-size: 2rem;
}

.contacts-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-icons-contact {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-contact {
  margin: 0 1em;
  font-size: 2.5rem;
  color: #000;
  transition: transform 2s;
}

.icon-contact:hover,
.icon-contact:focus {
  color: rgb(6, 6, 173);
  transform: rotate(360deg);
  cursor: pointer;
}

.email-container:hover,
.email-container:focus {
  color: rgb(6, 6, 173);
  transform: scale(1.5);
  cursor: pointer;

}

.container-homepage {
  margin-bottom: 4em;
}

/* =================
  Media Queries
================= */
@media (max-width: 1050px) {
.container-supreme {
  grid-template-columns: 1fr;
}
}

@media (max-width: 900px) {
.icon-contact {
    margin: 0 .25em;
    font-size: 2rem;
}
.email-text {
  font-size: 1.5rem;
  margin-left: -0.25em;
}
}

@media (max-width: 600px) {
  .container-games {
    width: 350px;
  }
    .contacts-section {
      flex-direction: column;
      margin-top: 1.5em;
    }

    footer {
      height: 240px;
    }
}


